body {
	background-color: #fff;
	margin: 0px;
	height: 100%;
}

h1{
	color: #fff;
}

#header{
	position: fixed;
	margin-top: 0px;
	top: 0px;
	left: 0px;
	width: 100%;
	z-index: 4;
	border-top: solid;
	border-bottom: solid;
	text-align: center;

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b2b2b2+0,0e0e0e+100 */
	background: rgb(178,178,178); /* Old browsers */
	background: -moz-linear-gradient(45deg,  rgba(178,178,178,1) 0%, rgba(14,14,14,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(178,178,178,1)), color-stop(100%,rgba(14,14,14,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(45deg,  rgba(178,178,178,1) 0%,rgba(14,14,14,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(45deg,  rgba(178,178,178,1) 0%,rgba(14,14,14,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(45deg,  rgba(178,178,178,1) 0%,rgba(14,14,14,1) 100%); /* IE10+ */
	background: linear-gradient(45deg,  rgba(178,178,178,1) 0%,rgba(14,14,14,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b2b2b2', endColorstr='#0e0e0e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

#footer{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 100%;
	z-index: 4;
	margin: 0px;
	background-color: #555;
	color: #fff;
	font-size: 150%;
	padding: 10px;
	text-align: center;
	border-top: solid;
	border-bottom: solid;
	border-color: #000;
}

#footer label{
	padding-right: 10px;	
}

#rightMenu{
	height: 350px;
	width: 250px;
	position: fixed;
	right: -225px;
	top: 150px;
	background-color: #fff;
	z-index: 12;
	/*border-radius: 20px;*/
	border-top-left-radius:2em;
	border-bottom-left-radius:2em;
	border-style: solid;
	border-right: #fff;
	box-shadow: 10px 10px 5px #555;
	-webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
}

#rightMenuLeftBar{
	margin: 0px;
	padding: 0px;
	background-color: red;
	width: 25px;
	position: relative;
	height: 350px;
	top: -2px;
	left: 0px;
	border-top-left-radius:2.1em;
	border-bottom-left-radius:2.1em;
	border-style: solid;
	border-width: 2px;
}

#rightMenuLeftBar h2{
	text-align: center;
	width: 15px;
	font-size: 30px;
	word-wrap: break-word;
}

#rightMenu:hover{
	/*right: 0px;*/
	/*-webkit-animation-name: animateRightMenu;
	-webkit-animation-duration: .4s; 
    animation-name: animateRightMenu;
    animation-duration: .4s;
    animation-timing-function: ease-in-out;*/
    -webkit-transform: translate(-225px,20px);
    -moz-transform: translate(-225px,20px);
    -o-transform: translate(-225px,20px);
    -ms-transform: translate(-225px,20px);

}

/* Chrome, Safari, Opera */
@-webkit-keyframes animateRightMenu {
    from {right: -225;}
    to {right: 0px;}
}

/* Standard syntax */
@keyframes animateRightMenu {
    from {right: -225;}
    to {right: 0px;}
}

.userSelect{
	color: #6699ff;
}

#workSpace{
	margin: 0px;
	height: 100%;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f8ffe8+0,e3f5ab+33,b7df2d+100;Green+3D+%234 */
	background: rgb(248,255,232); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(248,255,232,1) 0%, rgba(227,245,171,1) 33%, rgba(183,223,45,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(248,255,232,1)), color-stop(33%,rgba(227,245,171,1)), color-stop(100%,rgba(183,223,45,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(248,255,232,1) 0%,rgba(227,245,171,1) 33%,rgba(183,223,45,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(248,255,232,1) 0%,rgba(227,245,171,1) 33%,rgba(183,223,45,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(248,255,232,1) 0%,rgba(227,245,171,1) 33%,rgba(183,223,45,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(248,255,232,1) 0%,rgba(227,245,171,1) 33%,rgba(183,223,45,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8ffe8', endColorstr='#b7df2d',GradientType=0 ); /* IE6-9 */
}

.node{
	background-color: #d896ff;
	border-width: 1px;
	border-style: solid;
	border-color: #660066;
	height: 40px;
	width: 40px;
	border-radius: 20px;
	position: fixed;
	top: 100px;
	left: 100px;
	z-index: 2;
}

.nodeMouse{
	background-color: #6699ff;
	transform: scale(1.1);
}

.edge{
	height: 4px;
	width: 1px;
	background-color: #000;
	padding: 0px;
	margin: 0px;
	position: fixed;
	z-index: 1;
	transform-origin: top left;
}

.start{
	position: absolute;
	top: -5px;
	left: 5px;
}

.startParent{
	background-color: #CC00CC;
	border-style: solid;
	border-width: 2px;
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-o-transform: scale(1.2);
	transform: scale(1.2);

	-webkit-animation-name: animateStart;
	-webkit-animation-duration: .2s; /* Chrome, Safari, Opera */
    animation-name: animateStart;
    animation-duration: .2s;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes animateStart {
    from {background-color: #d896ff;
    	-webkit-transform: scale(1.0);
		-moz-transform: scale(1.0);
		-o-transform: scale(1.0)}
    to {background-color: #CC00CC;
    	-webkit-transform: scale(1.2);
		-moz-transform: scale(1.2);
		-o-transform: scale(1.2);
    }
}

/* Standard syntax */
@keyframes animateStart {
    from {background-color: #d896ff;
    	transform: scale(1.0);
    }
    to {background-color: #CC00CC;
    	transform: scale(1.2);
	}
}

.end{
	position: absolute;
	top: -5px;
	left: 7px;
}

.endParent{
	background-color: #CC00CC;
	border-style: solid;
	border-width: 2px;
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-o-transform: scale(1.2);
	transform: scale(1.2);
	border-radius: 5px;

	-webkit-animation-name: animateEnd;
	-webkit-animation-duration: .2s; /* Chrome, Safari, Opera */
    animation-name: animateEnd;
    animation-duration: .2s;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes animateEnd {
    from {background-color: #d896ff;
    	-webkit-transform: scale(1.0);
		-moz-transform: scale(1.0);
		-o-transform: scale(1.0)};
		border-radius: 40px;
    to {background-color: #CC00CC;
    	-webkit-transform: scale(1.2);
		-moz-transform: scale(1.2);
		-o-transform: scale(1.2);
		border-radius: 5px;
    }
}

/* Standard syntax */
@keyframes animateEnd {
    from {background-color: #d896ff;
    	transform: scale(1.0);
    }
    to {background-color: #CC00CC;
    	transform: scale(1.2);
	}
}

#edgeWeight {
	background-color: white;
	width: 300px;
	height: 150px;
	position: fixed;
	top: 150px;
	left: 150px;
	text-align: center;
	border-radius: 20px;
	border-style: solid;
	border-width: 2px;
	box-shadow: 10px 10px 5px #555;
	z-index: 11;
	display: none;
}

.opacityChange { 
	position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    opacity:0.4;
    /*background-color:#fff;*/
    z-index: 10;
}

#edgeDisplayBox{
	background-color: #fff;
	position: absolute;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 4px;
	padding-right: 4px;
	border-radius: 5px; 
	z-index: 3;
	top: 150px;
	left: 150px;
	display: none;
	border-style: solid;
	border-width: 2px;
	box-shadow: 5px 5px 3px #555;
}